
    <section id="footer" class="section-pd">
        <div class="row-1">
            <div class="column">
                <h3>blaqMarket</h3>
                <h4>contact</h4>
                <p> adress:no 8 Ekere Street, comfort-oboh Lagos, Nigeria</p>
                <p>phone:08101605165||08119324346</p>
                <p>email:Blaqayschannel@gmail.com</p>
                <h5>follow Us</h5>
                <div class="social-media">
                    <a href="https://web.facebook.com/princedaudu.charles"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://twitter.com/Off_charleeblaq"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/webtechwithdaudu/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/charleeBlaqTech"><i class="fa-brands fa-square-github"></i></a>
                </div>
    
            </div>
            <div class="column">
                <h4>about</h4>
                <a href="/about">about us</a>
                <a href="#">dilivery information</a>
                <a href="#">privacy policy</a>
                <a href="#">Terms & condition</a>
                <a href="/contact">contact us</a>
    
            </div>
            <div class="column">
                <h4>my account</h4>
                <a href="/login">sign in</a>
                <a href="/cart">view Cart</a>
                <a href="#">my wishlist</a>
                <a href="#">Track my order</a>
                <a href="#">Help</a>
            </div>
        </div>
        <div class="row-2">
            <p>copy-right 2022@blaqMarket</p>
        </div>
       
    </section>
    


    <script src="/js/scripts.js"></script>
</body>
</html>