<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlaqMarket online store</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="header">
        <div class="logo-nav-namburger-wrapper">
            <a href="#" class="logo">blaqMarket</a>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/home" class="active link">Home</a></li>
                    <li><a href="/product/get" class="link">shop</a></li>
                    <li><a href="/blog" class="link">blog</a></li>
                    <li><a href="/about" class="link">About</a></li>
                    <li><a href="/contact" class="link">Contact</a></li>
                    <li><a href="/cart" class="link"><i class="fa-regular fa-bag-shopping"></i></a></li>
                    
                    <i class="fa-solid fa-xmark"></i>
                </ul>
                 {{#if User}}
                        <li><a href="#" class="link">{{User.username}}</a></li>
                        <li><a href="/logout" class="link">logout</a></li>
                        {{else}}
                        <li><a href="/login" class="link">login</a></li>
                        
                    {{/if}}
            </nav>
            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div> 
    </section>
