
    <section id="about-page-header-banner">
        <h2>#ABOUT US</h2>
        <p>blaqMarket is a unique clothing line with modern desings</p>
    </section>

    <section id="about-page" class="section-pd section-mg">
        <div class="about-img-container">
            <img src="/images/cloth-sets-1.avif" alt="">
        </div>
        <div class="about-us-content-container">
            <h2>WHO WE ARE?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, error officiis, nostrum eum adipisci quod quis, a voluptatibus est modi perferendis? Rerum sequi consequatur eaque, iusto magnam rem atque natus odit, dolor quae officiis voluptas eligendi porro incidunt. Alias eaque quaerat ducimus perspiciatis quis laudantium, quia repellendus placeat commodi doloremque quos sint tenetur sit, dicta fugiat quibusdam vero enim accusantium aliquam nostrum suscipit. Placeat beatae recusandae, repellendus saepe officia magnam.</p>
            <abbr title="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia pariatur ea libero odio laboriosam esse sapiente beatae voluptates reprehenderit consequuntur?</abbr>
            <br><br>
            <marquee bgcolor="grey" loop="-1" scrollamount="5" width="100%">consitency is the power behind great success and achievements</marquee>
        </div>
    </section>

    <section id="features" class="section-mg section-pd">
        <div class="feature-boxes-wrapper">
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
            <div class="feature-box">
                <img src="/images/dilivery van.jpg" alt="">
                <h6>free shipping</h6>  
            </div>
        </div>      
    </section>

    <section id="news-banner" class="section-pd section-mg">
        <div class="news-text-content">
            <h4>sign up to get updated on new products and discounts</h4>
            <p>get E-mail updates about our latest shops and <span>special offer</span></p>
        </div>
        <div class="news-input-form">
            <input type="email" name="email" id="email" placeholder="enter your email">
            <button type="submit" class="">sign up</button>
        </div>
    </section>
