

        <section id="admin-add-product-container">
            <form action="/product/create" enctype="multipart/form-data" method="post">
                <input type="text" name="productName" id="" placeholder="product name" required>
                <input type="number" name="price" id="" value="5000" placeholder="product price in naira" required>
                <textarea name="description" id="" cols="30" rows="10" placeholder="procuct description" required></textarea>
                <input type="file" name="file" id="" placeholder="product photo" required>
                <button type="submit" class="normal">submit</button>
            </form>
        </section>
           