
    <section id="blog-page-header-banner">
        <h2>#UNIQUE PRODUCTS</h2>
        <p>exploring and discoverying all the latest designs</p>
    </section>

    <section id="blog" class="section-pd section-mg">
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/trauser-3.jpg" alt="">
            </div>
            <div class="blog-content">
                <h4>latest shoes with flexibilty</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit optio laudantium ratione magnam, eveniet modi omnis eaque sunt voluptates quam nobis repellat vel labore distinctio, numquam fuga doloremque nisi fugiat minus. Voluptatum sed cum laudantium consequatur neque accusantium sit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit optio laudantium ratione magnam, eveniet modi omnis eaque sunt voluptates quam nobis repellat vel labore distinctio, numquam fuga doloremque nisi fugiat minus. Voluptatum sed cum laudantium consequatur neque accusantium sit
                </p>
                <a href="#">continue reading</a>
            </div>
            <h1>13/10/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/trauser-3.jpg" alt="">
            </div>
            <div class="blog-content">
                <h4>latest shoes with flexibilty</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit optio laudantium ratione magnam, eveniet modi omnis eaque sunt voluptates quam nobis repellat vel labore distinctio, numquam fuga doloremque nisi fugiat minus. Voluptatum sed cum laudantium consequatur neque accusantium sit.</p>
                <a href="#">continue reading</a>
            </div>
            <h1>13/10/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/trauser-3.jpg" alt="">
            </div>
            <div class="blog-content">
                <h4>latest shoes with flexibilty</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit optio laudantium ratione magnam, eveniet modi omnis eaque sunt voluptates quam nobis repellat vel labore distinctio, numquam fuga doloremque nisi fugiat minus. Voluptatum sed cum laudantium consequatur neque accusantium sit.</p>
                <a href="#">continue reading</a>
            </div>
            <h1>13/10/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/trauser-3.jpg" alt="">
            </div>
            <div class="blog-content">
                <h4>latest shoes with flexibilty</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit optio laudantium ratione magnam, eveniet modi omnis eaque sunt voluptates quam nobis repellat vel labore distinctio, numquam fuga doloremque nisi fugiat minus. Voluptatum sed cum laudantium consequatur neque accusantium sit.</p>
                <a href="#">continue reading</a>
            </div>
            <h1>13/10/2022</h1>
        </div>
    </section>
 

    <section id="news-banner" class="section-pd section-mg">
        <div class="news-text-content">
            <h4>sign up to get updated on new products and discounts</h4>
            <p>get E-mail updates about our latest shops and <span>special offer</span></p>
        </div>
        <div class="news-input-form">
            <input type="email" name="email" id="email" placeholder="enter your email">
            <button type="submit" class="">sign up</button>
        </div>
    </section>

