
    <section id="contact-page-header-banner">
        <h2>#let's Talk and Negotiate</h2>
        <p>leave a message. we will always respond.</p>
    </section>

    <section id="contact-details" class="section-pd section-mg">
        <div class="details-info">
            <span>GET IN TOUCH</span>
            <H2>visit any of our shop outlets or contact us</H2>
            <h3>Head Office</h3>
            <div>
                <li><i class="fal fa-map"></i> <p>no 18 Adele Street, Apapa, Lagos, Nigeria.</p></li>
                <li><i class="far fa-envelope"></i> <p>blaqwayschannel@gmail.com</p></li>
                <li><i class="fas fa-phone-alt"></i> <p>08101605165, 09169325932</p></li>
                <li><i class="far fa-clock"></i> <p>monday-saturday 9am-8pm</p></li>
               
            </div>
        </div>
        <div class="address-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.639353619754!2d3.366900914093859!3d6.440338325912946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8bb2a05801e1%3A0x75bef5dc3250effc!2sAdele%20Rd%2C%20Apapa%20Quays%20102272%2C%20Ikeja!5e0!3m2!1sen!2sng!4v1665184140133!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="contact-form" class="section-pd section-mg">
        <form action="#">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button type="submit" class="normal">submit</button>
        </form>
    </section>


    <section id="news-banner" class="section-pd section-mg">
        <div class="news-text-content">
            <h4>sign up to get updated on new products and discounts</h4>
            <p>get E-mail updates about our latest shops and <span>special offer</span></p>
        </div>
        <div class="news-input-form">
            <input type="email" name="email" id="email" placeholder="enter your email">
            <button type="submit" class="">sign up</button>
        </div>
    </section>
